.management {
    max-width: 100%;
    padding: 20px;
}

.management-nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.management-nav a {
    text-decoration: none;
    color: #1992c3;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #1992c3;
    border-radius: 5px;
    background:white;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.management-description {
    color: #666;
}

@media (max-width: 768px) {
    .management-nav {
        flex-direction: column;
        align-items: center;
    }

    .management-nav a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.description {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}

input {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.Button-update {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Button-update:hover {
    background-color: #2980b9;
}


h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

