.management {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

.management h1 {
    text-align: center;
    color: #222;
}

.management-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.management-nav a {
    text-decoration: none;
    color: #007bff;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    flex: 1;
    text-align: center;
    margin: 0 5px;
}

.management-nav a:first-child {
    margin-left: 0;
}

.management-nav a:last-child {
    margin-right: 0;
}

.management-nav a:hover {
    background-color: #e7f1ff;
}

.active-link {
    background-color: #8ecae6;
    color: white;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .management-nav {
        flex-direction: column;
    }

    .management-nav a {
        margin-bottom: 5px;
    }
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button.management {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.management:hover {
    background-color: #0056b3;
}
.description {
    flex:auto;
    float: left;
    font-size: smaller;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}