
:root {
    --navbar-height: 85px;

}
.landingPageContainer{
    margin-top: 20px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    overflow: hidden; /* Prevents scrolling */
}


.navbar {
    height: var(--navbar-height);
}

.alarms-sidebar {
    padding-top: 10px;
    width: 20%;
    height: 100%;
    overflow-y: auto;
}

.kpi-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    height: 100%;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    align-content: flex-start;

}


/* Chart container styles */
.chart-container {
    flex: 1 1 100%; /* Take full width of the container */
    height: 350px; /* Fixed height for charts */
    padding: 1rem;
    /* Other styles remain the same */
}

/* Chart canvas adjustments */
.chart-container canvas {
    width: 100% !important;
    height: 100% !important; /* This will make the chart fill the container */
}
/* KPI card styles */
.kpi-card {
    width: calc(45% - 20px); /* Two cards per row with a bit of space in between */
    margin: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transitions */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.kpi-card:hover {
    transform: translateY(-5px); /* Lift the card slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/* Responsive design */
@media (max-width: 768px) {
    .kpi-card {
        width: 100%; /* Full width on smaller screens */
    }
}

