/* Basic reset for styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling for the page content */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center; /* This line is optional, only needed if you also want to vertically center the table */
}


/* Table styles */
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    border-bottom: 1px solid #ccc; /* Horizontal lines between rows */
    border-right: 1px solid #ccc; /* Vertical lines between columns */
    text-align: left;
    padding: 8px;
    overflow: hidden; /* Prevents content from making the cell larger */
    text-overflow: ellipsis; /* Adds an ellipsis to overflowing content */
    white-space: nowrap; /* Keeps the content on a single line */
}
th:last-child, td:last-child {
    border-right: none;
}
/* Striped rows */
tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Hover effect on rows */
tbody tr:hover {
    background-color: #f1f1f1;
}
th {
    width: 12.5%; /* Adjust the percentage based on how many columns you have */
}

/* Style for buttons */
.edit-btn, .delete-btn {
    padding: 8px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: #1992c3;
    color: white;
}

.delete-btn {
    background-color: #F44336;
    color: white;
}

.edit-btn:hover {
    color: #1992c3;
    background-color: white;
    border-radius: 4px;
    border-color:#1992c3;}

.delete-btn:hover {
    background-color: white;
    color: #f44336;
    border-radius: 4px;
    border-color: #f44336;}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure the overlay is above everything else */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 1001; /* Above the overlay */
    max-width: 500px; /* Set to the max width you want */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: large;
    cursor: pointer;
}
/* Add more styles if you need */
