/* Basic reset for styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling for the page content */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th:last-child, td:last-child {
    border-right: none;
}

/* Striped rows */
tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Hover effect on rows */
tbody tr:hover {
    background-color: #f1f1f1;
}

/* Adjusting column widths based on content */
th:nth-child(1), /* Cleaning Cost */
th:nth-child(2) { /* Repair Cost */
    width: 15%;
}

th:nth-child(3) { /* ID */
    width: 10%;
}

th:nth-child(4), /* Subscription ID */
th:nth-child(5) { /* Damage Description */
    width: 20%;
}

th:nth-child(6) { /* Actions */
    width: 15%;
}

/* Style for buttons */
.edit-btn, .delete-btn {
    padding: 8px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.edit-btn {
    background-color: #1992c3;
}

.delete-btn {
    background-color: #F44336;
}

.edit-btn:hover {
    color: #1992c3;
    background-color: white;
}

.delete-btn:hover {
    color: #f44336;
    background-color: white;
}
