tbody tr:nth-child(even) {
    background-color: #ecf0f1;
}

.edit-btn, .delete-btn {
    padding: 10px 15px;
    margin-right: 8px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.edit-btn {
    background-color: #2ecc71;
}

.delete-btn {
    background-color: #e74c3c;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #34495e;
}

.table-air {
    margin-left: 30px;
    margin-right: 30px;
    overflow-x: auto;
}