body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body, h1, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #333;
  margin: 20px;
}


.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


p {
  margin: 8px 0;
  color: #666;
}

.navbar {
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
}

.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  position: relative;
  margin-right: 20px;
}

.navbar-item:hover {

}

.navbar-link:hover {
  color: #fff;
  background: #8ecae6;
  border-radius: 4px;
  text-decoration: none;
}

.navbar-link {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  cursor: pointer;
}
